body {
    font-family:'poppins',sans-serif;
}
p {
    font-family:'poppins',sans-serif;
    font-weight: 400;
}

a {
    font-family:'poppins',sans-serif;
    font-weight: 500;
}

.content-section {
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar-toggler img {
    width: 30px;
    height: 30px;
}

label {
    font-weight: 600;
}

textarea {   /* for all text* area elements */
    resize: none;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        max-width: 720px;
        margin: 0 auto;
    }

    .navbar-collapse {
        position: absolute;
        left: 0;
        right: 0;
        top: 65px;
        width: 100%;
        background-color: #fff;
    }

    .card-title {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        max-width: 540px;
        margin: 0 auto;
    }
}

img {
    max-width: 100%;
    width: 100%;
}